.w-full{
width: 100%;
}
.h-screen{
    height: 100vh;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-orange{
    background-color: orange;
}
*{
    padding: 0px;
    margin: 0px;
}
.card-profile{

    padding: 10px;
    border-radius: 10px;
    display: flex;
    box-shadow:  inset 10px,10px,10px,rgba(16, 182, 248, 0.3)
}
.card-image{
    width:30%;

}

.p-2{
    padding: 16px;
}